* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.status, .display {
  margin-top: 20px;
  text-align: center;
}

.status span {
  margin: 10px 60px;
}

.display p {
  margin-top: 10px;
}

form div {
  margin: 0 auto;
  width: fit-content;
  text-align: left;
}

input {
  margin-top: 10px;
}

button {
  background: #164869;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;

  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.correct-answer {
  color: green;
  font-size: 1.5rem;
}

.incorrect-answer {
  color: red;
  font-size: 1.5rem;
}

.display .question {
  width: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}